html, body {
    font: 100% Arial, Sans;
}

#chat {
    width: 40em;
    height: 30em;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 .3em;
    position: relative;
    border: 1px #ccc solid;
    padding-bottom: 1em;
}

#chat-content {
    width: 100%;
    height: 30em;
    overflow-y: scroll;
    padding: .3em .3em 0;
    box-sizing: border-box;
}

#users-typing {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .3em;
    font-size: .8em;
    color: #444;
}

#chat .message {
    display: block;
    padding: .2em;
    font-size: .9em;
}

#chat .message.server {
    font-size: .8em;
    background: #ddd;
    color: #333;
}

#message {
    width: 38em;
    padding: .3em;
}

#send {
    width: 4em;
    padding: .3em;
}

#status {
    display: inline-block;
    height: 20em;
    width: 15em;
    border: 1px #ccc solid;
    padding: .3em;
    vertical-align: top;
}

#roomName {
    font-size: 1.2em;
    margin: .3em;
}

#users {
    padding: .3em;
}

#users li.user {
    list-style: none;
}

li.user.active:after {
    content: '';
    background: #44ee44;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    height: .5em;
    width: .5em;
    border-radius: .5em;
}

.inactive-elapsed {
    font-size: .8em;
    color: #777;
    margin-left: .5em;
}